﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Task Manager</title>
    @Styles.Render("~/Content/css")

    <script type="text/ecmascript" src="../../Scripts/jquery.min.js"></script>
    <script type="text/ecmascript" src="../../Scripts/grid.locale-en.js"></script>
    <script type="text/ecmascript" src="../../Scripts/jquery.jqGrid.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../../Content/jquery-ui.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../Content/ui.jqgrid.css">
    <link rel="stylesheet" href="../../Content/scheduler.min.css"/>
    <link rel="stylesheet" href="../../Content/jquery.datetimepicker.css"/>
    <link rel="stylesheet" href="../../Content/fullcalendar.css"/>

    <script src="../../Scripts/moment.min.js"></script>
    <script src="../../Scripts/fullcalendar.min.js"></script>
    <script src="../../Scripts/scheduler.min.js"></script>

    <script src="../../Scripts/jquery.datetimepicker.js"></script>
    <meta charset="utf-8">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Task Manager", "Index", "Records", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Все записи", "Index", "Records")</li>
                    <li>@Html.ActionLink("Расписание", "Schedule", "Records")</li>
                    <li>@Html.ActionLink("Создать запись", "Create", "Records")</li>
                    <li>@Html.ActionLink("Контакты", "Index", "Contacts")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
