﻿@model TaskManager.DTO.Record

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Error != null)
{
    <span style="color: red;">@ViewBag.Error</span>
}

@using (Html.BeginForm("Create", "Records"))
{
    <div class="form-group">
        <label for="subject">Тема</label>
        <input class="form-control" id="subject" name="Subject" />
    </div>

    <div class="form-group">
        <label for="starttime">Начало</label>
        <input class="form-control" id="starttime" name="StartTime" />
    </div>

    <div class="form-group">
        <label for="endtime">Конец</label>
        <input class="form-control" id="endtime" name="EndTime" />
    </div>

    <div class="form-group">
        <label for="type">Тип</label>
        <select class="form-control" id="type" name="Type">
            <option>Meeting</option>
            <option>Task</option>
            <option>Note</option>
        </select>
    </div>

    <input type="submit" value="Create" class="btn btn-default"/>
}

<script>
    $(document).ready(function () {
        $('#starttime, #endtime').datetimepicker();
    });
</script>
