﻿@model TaskManager.DTO.Record

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Error != null)
{
    <span style="color: red;">@ViewBag.Error</span>
}

@using (Html.BeginForm("Edit", "Records"))
{
    <input type="hidden" value="@Model.Id" name="Id"/>
    <div class="form-group">
        <label for="subject">Тема</label>
        <input class="form-control" id="subject" name="Subject" value="@Model.Subject"/>
    </div>

    <div class="form-group">
        <label for="starttime">Начало</label>
        <input class="form-control" id="starttime" name="StartTime" value="@Model.StartTime" />
    </div>

    <div class="form-group">
        <label for="endtime">Конец</label>
        <input class="form-control" id="endtime" name="EndTime" value="@Model.EndTime" />
    </div>

    <div class="form-group">
        <label for="type">Тип</label>
        <select class="form-control" id="type" name="Type">
            <option @(Model.Type == "Meeting" ? "selected=selected" : "")>Meeting</option>
            <option @(Model.Type == "Task" ? "selected=selected" : "")>Task</option>
            <option @(Model.Type == "Note" ? "selected=selected" : "")>Note</option>
        </select>
    </div>

    <input type="submit" value="Update" class="btn btn-default" />
}

<script>
    $(document).ready(function () {
        $('#starttime, #endtime').datetimepicker();

        $('#starttime').datetimepicker({
            value: moment('@Model.StartTime').format('Y/MM/DD HH:mm')
        });

        $('#endtime').datetimepicker({
            value: moment('@Model.EndTime').format('Y/MM/DD HH:mm')
        });
    });
</script>