﻿@model  List<TaskManager.DTO.Record>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/ecmascript" src="../../Scripts/jquery.min.js"></script>
<script type="text/ecmascript" src="../../Scripts/grid.locale-en.js"></script>
<script type="text/ecmascript" src="../../Scripts/jquery.jqGrid.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="../../Content/jquery-ui.css" />
<link rel="stylesheet" type="text/css" media="screen" href="../../Content/ui.jqgrid.css" />
<meta charset="utf-8" />

<table id="jqGrid"></table>
<div id="jqGridPager"></div>

<script type="text/javascript">

    $(document).ready(function () {
        var lastSel;

        $("#jqGrid").jqGrid({
            datatype: "local",
            height: 250,
            colNames: ['Id', 'Subject', 'Type', 'Start Time', 'End Time'],
            colModel: [
                { name: 'Id', index: 'Id', width: 60, sorttype: "int" },
                { name: 'Subject', index: 'Subject', width: 90, sorttype: "string" },
                { name: 'Type', index: 'Type', width: 100 },
                { name: 'StartTime', index: 'Start Time', width: 80, align: "right", sorttype: "date" },
                { name: 'EndTime', index: 'End Time', width: 80, align: "right", sorttype: "date" }
            ],
            multiselect: true,
            caption: "Task List",
            onSelectRow: function(id){
                //if(id && id!==lastSel){
                //    $(this).restoreRow(lastSel);
                //    lastSel=id;
                //}
                window.open('/Records/Edit?id=' + id, '_blank');
                //jQuery(this).editRow(id, true);
            }
        });

        var mydata = @Html.Raw(Json.Encode(Model));

        for (var i = 0; i < mydata.length; i++)
            $("#jqGrid").jqGrid('addRowData', i + 1, Object.assign({}, mydata[i], { StartTime: new Date(mydata[i].StartTime), EndTime: new Date(mydata[i].EndTime) }));

        $('#jqGrid').filterToolbar();
    });
</script>