﻿@model System.Collections.Generic.List<TaskManager.DTO.Record>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="calendar"></div>
<script>
    $(document).ready(function () {
        var mydata = @Html.Raw(Json.Encode(Model));

        $('#calendar').fullCalendar({
            header: {
                left: 'today prev,next',
                center: 'title',
                right: 'agendaDay,agendaWeek,month'
            },
            scrollTime: '00:00',
            events: mydata.map(x => {
                return { title: x.Subject, start: x.StartTime, end: x.EndTime }
            }),
            defaultView: 'agendaDay'
        });
    });
</script>